.footer {
  padding: 60px 100px 60px 80px;
  background: linear-gradient(180deg, #0a2850 0%, #071931 100%);
  color: #ffffff;
}
.footer__contents {
  display: flex;
}
.footer__logo {
  width: 116px;
  height: 21px;
}
.footer__social {
  margin-left: auto;
}
.footer__social-heading {
  font-family: inter;
  font-weight: bold;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
}

.footer__list {
  margin: 0;
  padding: 0;
}
.footer__list-item {
  font-family: inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}
.footer__list-column {
  list-style-type: none;
}
.footer__list-column:first-child {
  padding-top: 20px;
}
.footer__list-column:last-child {
  padding-top: 16px;
}
.footer__social-link {
  padding-right: 10px;
}
.footer__copyright {
  margin: 0;
  padding-top: 108px;
}
