.header {
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
  background-color: #ffffff;
  background-image: url(/images/background_header.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  position: relative;
}

.title {
  font-family: "Inter";
  max-width: 729px;
  margin-top: 80px;
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  padding-left: 80px;
  margin-bottom: 0px;
}
.title__span {
  color: #2f80ed;
  font-style: italic;
  font-family: noto serif;
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
}
.header__discription {
  font-family: Noto Serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  margin-left: 80px;
  max-width: 683px;
  margin-top: 28px;
  margin-bottom: 0px;
}
.header__image {
  width: 646px;
  height: 568px;
  position: absolute;
  right: 5px;
  top: 124px;
}
.paragraph {
  position: absolute;
  bottom: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0px 80px;
  justify-content: space-between;
  box-sizing: border-box;
}
.paragraph__times {
  margin: 0;
  padding-left: 0;
}
.paragraph__hour {
  list-style-type: none;
}
.paragraph__list {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #6f6f6f;
}
.paragraph__address {
  margin: 0;
}
