.nav {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}
.nav__lists {
  display: flex;
  column-gap: 20px;
  margin-right: 80px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
}
.nav__list {
  list-style-type: none;
  height: 80px;
  font-family: "inter", arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
.nav__link:hover {
  color: #2f80ed;
  cursor: pointer;
}
.nav__link {
  text-decoration: none;
  color: #000000;
  transition: color 0.5s;
}
